<table class="head-wrap" bgcolor="#FFFFFF">
  <tr>
    <td class="header container">
      <div class="content">
        <table bgcolor="#FFFFFF">
          <tr>
            <td>
              {{ if .HeaderImageURL }}
              <img src="{{.HeaderImageURL}}" style="width: 100%" />
              {{ end }}
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>

<table class="body-wrap">
  {{ template "greetings-1.html" .}}
  <tr>
    <td class="container" bgcolor="#FFFFFF">
      <table class="content options" style="display: table">
        {{ range $i, $announcement := .Announcements }}
        <tr>
          <td>
            <div class="column option">
              <img src="{{$announcement.ImageURL}}" style="width: 90%" />
            </div>
            <div class="column option" style="text-align: left">
              <h4>{{$announcement.Title}}</h4>
              <p>{{$announcement.Description}}</p>
              {{if $announcement.Link}}

              <a href="{{ $announcement.Link }}">
                <span
                  class="btn"
                  style="
                    color: black;
                    background-color: white;
                    border: 1px solid #5bc0de;
                    border-radius: 5px;
                  "
                >
                  Read More
                </span>
              </a>
              {{end}}
            </div>
          </td>
        </tr>
        {{ end }}
      </table>
    </td>
  </tr>
  {{if .EndContentHTML}}
  <tr>
    <td class="container" bgcolor="#FFFFFF" style="padding-top: 30px">
      <p class="lead">{{ .EndContentHTML }}</p>
    </td>
  </tr>
  {{end}}
  <tr>
    <td class="divider">
      <hr />
    </td>
  </tr>
  {{template "signature-1.html" .}}
</table>
