{{template "header-1.html" .}}
<table class="body-wrap">
  {{ template "greetings-1.html" .}}
  <tr class="container">
    <td class="container td-items">
      <table
        cellpadding="0"
        cellspacing="0"
        class="content items"
        style="display: table"
      >
        <tr style="background-color: white; color: gray">
          <td align="left" colspan="4" style="padding: 15px">
            <p>
              Order# {{ .OrderNumber }}
              <br />
              {{ .OrderCreated }}
            </p>
          </td>
        </tr>
        <tr style="background-color: gainsboro">
          <td align="center" colspan="4" style="padding: 50px 0 10px 0">
            <h3>Order Summary</h3>
          </td>
        </tr>
        {{range $i, $Item := .Items}}
        <tr>
          <td class="item" align="center">
            <span class="badge">x{{$Item.ProductQty}}</span>
          </td>
          <td class="item">{{$Item.ProductName}}</td>
          <td class="item" align="right">$</td>
          <td class="item" align="right">{{$Item.ProductPrice}}</td>
        </tr>
        {{end}}
        <tr>
          <td colspan="4" class="divider"><hr /></td>
        </tr>
        <tr>
          <td class="item" align="right" colspan="2">Subtotal</td>
          <td class="item" align="right">$</td>
          <td class="item" align="right">{{.Total.SubTotal}}</td>
        </tr>
        {{ if not (CheckSkip .Total.Discount) }}
        <tr>
          <td class="item" align="right" colspan="2">Discount</td>
          <td class="item" align="right">$</td>
          <td class="item" align="right" style="color: #dd4343">
            - {{.Total.Discount}}
          </td>
        </tr>
        {{ end }} {{ if not (CheckSkip .Total.OrderShipping) }}
        <tr>
          <td class="item" align="right" colspan="2">
            Shipping ({{.Total.OrderShippingOption}})
          </td>
          <td class="item" align="right">$</td>
          <td class="item" align="right">{{.Total.OrderShipping}}</td>
        </tr>
        {{ end }} {{ if not (CheckSkip .Total.TaxRate) }}
        <tr>
          <td class="item" align="right" colspan="2">
            Tax ({{.Total.TaxRate}}%)
          </td>
          <td class="item" align="right">$</td>
          <td class="item" align="right">{{.Total.Tax}}</td>
        </tr>
        {{ end }}
        <tr>
          <td class="item" align="right" colspan="2">
            <b>Total</b>
          </td>
          <td class="item" align="right">$</td>
          <td class="item" align="right" style="font-weight: bold">
            {{.Total.Total}}
          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{if .Options }} {{template "options.html" .}} {{end}}
  <!-- -->
  {{ template "signature-1.html" .}}
</table>
